.main-container {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  padding: 20px;
  padding-top: 0;

  &::-webkit-scrollbar{
    display: none;
    overflow: hidden;
  }
}

.climbs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  width: 100vw;
  height: 72vh;
  overflow-y: auto;
  padding-bottom: 25px;
  
  &::-webkit-scrollbar{
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .main-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .climbs-container {
    height: 25vh;
    width: 91vw;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px;
  }
}