.climb {
  color: white;
  padding-top: 20px;
  font-size: 22px;
  text-align: center;
  width: 20vw;
  height: 15vh;
  margin: 2vh 1.5vw;
  // background-image: url('./Rock Background.jpeg');
  background-color: grey;
  z-index: 0;
  border-radius: 15px;
}

