.filter-bar {
  display: flex;
  // justify-content: center;
  margin-top: 15vh;
  margin-left: 350px;
  // justify-content: space-around;
  input {
    text-align: center;
    height: 5vh;
    width: 5vw;
    font-size: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  }
  .dropdown-filter-input {
    font-size: 20px;
    text-align: center;
    height: 5vh;
    width: 20vw;
    margin: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .select-grade {
    font-size: 20px;
    // margin: 20px
  }
  button {
    margin: 15px;
    width: 15vw;
    height: 5vh;
    border-radius: 30px;
  
    &:hover {
      cursor: pointer;
      background-color: rgba(115, 145, 186, 0.6);
      color: white;
  
    }
  }

}