.climb-form {
  display: flex;
  // position: fixed;
  flex-direction: column;
  flex-wrap: wrap;
  // justify-content: space-around;
  text-align: center;
  align-items: center;
  // color: white;
  width: 20vw;
  border: solid 4px black;
  padding: 20px;
  height: 45vh;
  margin: 2vh;
  margin-right: 75px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  // margin-top: 20vh;
  
}
h2 {
  font-size: 2vw;
}
input {
  font-size: 1.2vw;
  text-align: center;
  width: 11vw;
  height: 3vh;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  border: none;
}
.dropdown-filter-input {
  font-size: 1.2vw;
  text-align: center;
  width: 11vw;
  height: 3vh;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  border: none;
  
}
.climb-button {
  border: none;
  width: 9vw;
  height: 3vh;
  border-radius: 30px;
  font-size: 1.2vw;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  background-color: white;

  &:hover {
    cursor: pointer;
    background-color: rgba(113, 129, 150, 0.8);
    color: white;

  }
}