.climb-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  // color: white;
  width: 20%;
  border: solid 4px black;
  padding: 20px;
  // height: 82.5vh;
  // margin-top: 17.5vh;
}