.climb-form {
  display: flex;
  // position: fixed;
  flex-direction: column;
  flex-wrap: wrap;
  // justify-content: space-around;
  text-align: center;
  align-items: center;
  // color: white;
  width: 20vw;
  border: solid 4px black;
  padding: 20px;
  height: 50vh;
  margin: 2vh;
  margin-right: 75px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  // margin-top: 20vh;
  
}
h2 {
  font-size: 35px;
}
input {
  font-size: 20px;
  text-align: center;
  width: 80%;
  height: 7%;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  border: none;
}
.dropdown-filter-input {
  font-size: 20px;
  text-align: center;
  width: 80%;
  height: 8%;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  border: none;
}
.climb-button {
  border: none;
  width: 60%;
  height: 7%;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);

  &:hover {
    cursor: pointer;
    background-color: rgba(113, 129, 150, 0.8);
    color: white;

  }
}