* {
  font-family: 'Alike', serif;
  font-family: 'Raleway', sans-serif; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding-left: 5vw;
  font-size: 4vw;
  // background-color: rgba(69, 85, 108, 0.7);
  background-image: linear-gradient(to top, rgba(214, 207, 116, 0.602), rgba(47, 54, 61, 0.572)),url('./header stone.jpeg');

  // backdrop-filter: blur(5px);
  height: 15vh;
  width: 95vw;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  z-index: 5;

  div {
    display: flex;
    justify-content: row;

    h1 {
      color: white;
      padding-top: 7px;
      font-weight: 400;
    }

  }
  button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 3vw;
    margin-right: 100px;
    
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      -webkit-filter: brightness(1.2);
    }
  }
}